RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://40.min0.tw/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://40.min0.tw$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.min0.tw/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.min0.tw$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cloud.min0.tw/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cloud.min0.tw$      [NC]
RewriteCond %{HTTP_REFERER} !^http://min0.tw/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://min0.tw$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.40.min0.tw/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.40.min0.tw$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.min0.tw/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.min0.tw$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cloud.min0.tw/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cloud.min0.tw$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.min0.tw/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.min0.tw$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zombit.min0.tw/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zombit.min0.tw$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zombit.min0.tw/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zombit.min0.tw$      [NC]
RewriteCond %{HTTP_REFERER} !^http://codiad.min0.tw/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://codiad.min0.tw$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

